body {
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
}

#import-input {
    display: none;
}

.flex {
    display: flex;
}

/* .chakra-accordion__panel::-webkit-scrollbar {
  display: none;
} */
